<html>
    <head>
        <title>Ally's blog</title>
    </head>
    <body>
    	<h1>prepare yo self</h1>
      	<strong>ima wizard</strong>  
      	<p>Hi there!</p>
        <p>It works!</p>
        <em>i hold the powwerrr.</em>
		       <div>
		    <h1><a href="/">Django Girls Blog</a></h1>
		</div>

		{% for post in posts %}
		    <div>
		        <p>published: {{ post.published_date }}</p>
		        <h1><a href="">{{ post.title }}</a></h1>
		        <p>{{ post.text|linebreaksbr }}</p>
		    </div>
{% endfor %}
    </body>
</html>